  #particles-js{
  background-color: black;
  height: 400px;
  background-image: url(background.jpg);
  }

  body{
  margin: 0;
  font: normal 16px Arial, Helvetica, sans-serif;
  color: white;
  }

  #login{
  background: #fff;
  opacity: .9;
  padding:2em;
  border: #ccc 2px solid;
  position:absolute;
  top: 100px;
  left: 50px;
  }

  #login input[type="text"], #login input[type="password"]{
  padding: 7px;
  margin-bottom: 10px;
  border: 1px #ccc solid;
  }
